body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

#root {
    width: 100%;
    height: 100vh;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}